@using EcommerceOsorioManha.Models
@model EcommerceOsorioManha.Models.Produto

@{
    Produto produto = ViewBag.ProdutoAlteracao;
}

<h1>AlterarProduto</h1>
<div>
    @using (Html.BeginForm("AlterarProduto", "Produto", FormMethod.Post, new { @class = "form-horizontal" })) 
    {
        <fieldset>

            @Html.HiddenFor(model => model.ProdutoId)

            @Html.Label("Nome Do Produto")
            @Html.TextBoxFor(model => model.Nome )<br />

            @Html.Label("Descrição")
            @Html.TextBoxFor(model =>model.Descricao)<br />

            @Html.Label("Preço")
            @Html.TextBoxFor(model => model.Preco)<br />

            @Html.Label("Categoria")
            @Html.TextBoxFor(model => model.Categoria)<br />

            <input type="submit" value="Cadastrar" />
        </fieldset>
    }
</div> 